{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
<body>
    <form method="POST">
        <h2 align="center">Log In</h2>
        <div class="login-form"> 
            <input type="email" class="form" id ="email" name="email" placeholder="Enter Email">
            <input type="password"  class="form"  id ="psw" name="psw" placeholder="Enter Password" >

            <div class="clearfix">
                
                <button type="submit" class="signup">Log in</button>
            </div>
        </div>
    </form>
</body>
{% endblock %}