{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
<body>
    <form method="POST">
        <h2 align="center">Sign Up</h2>
        <div class="signup-form"> 
            <label for="email"><b>Email</b></label>
            <input type="email" class="form-control" id ="email" name="email" placeholder="Enter Email">

            <label for="psw"><b>Password</b></label>
            <input type="password"  class="form-control"  id ="psw" name="psw" placeholder="Enter Password" >

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password"  class="form-control" id ="pswRepeat" name="pswRepeat" placeholder="Repeat Password" >

            <label>
                <input type="checkbox" name="remember"> Remember me
            </label>

            <div class="clearfix">
                <button type="button" class="cancelbtn">Cancel</button>
                <button type="submit" class="signup">Sign Up</button>
            </div>
        </div>
    </form>
</body>
{% endblock %}