{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
<body>
    <form method="POST">
        <h2 align="center">Sign Up</h2>
        <div class="signup-form"> 
            
            <input type="email" class="form" id ="email" name="email" placeholder="Enter Email">

            
            <input type="password"  class="form"  id ="psw" name="psw" placeholder="Enter Password" >

            
            <input type="password"  class="form" id ="pswRepeat" name="pswRepeat" placeholder="Repeat Password">


            <div class="clearfix">
                <button type="submit" class="signup">Sign Up</button>
            </div>
        </div>
    </form>
</body>
{% endblock %}